<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contatos</title>
    </head>
    <body>

        <div>
            <h3>Formulário</h3>

            <form method="post">

                {{form.csrf_token}}

                {{form.nome.label}}
                {{form.nome}}
                <br>
                {{form.email.label}}
                {{form.email}}
                <br>
                {{form.assunto.label}}
                {{form.assunto}}
                <br>
                {{form.mensagem.label}}
                {{form.mensagem}}
                <br>
                {{form.btnSubmit}}
                
            </form>
        </div>

    </body>
</html>