<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Estudo Flask</title>
    </head>
    <body>
        <div>
            <h3>Estudo Flask</h3>
            <h5>Bom dia!</h5>
        </div>

        <div>
            <p>Bem vindos à aula de Flask!</p>
            <a href="{{url_for('contato')}}">Clique para acessar a rota!</a>
        </div>

    </body>
</html>